{% extends 'base.html' %}

{% block content %}



<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <div class="title">
          {% if edit %}
          <h5>Edit Assessment</h5>
          {% else %}
          <h5>Add New Assessment</h5>
          {% endif %}
        </div>
      </div>

      <div class="card-body">
        <form method="POST" class="assessment-form">
          {{ form.hidden_tag() }}
          <div class="mb-3">{{ form.title.label }}: {{ form.title(class="form-control") }}</div>
          <div class="mb-3">{{ form.module_code.label }}: {{ form.module_code(class="form-control") }}</div>
          <div class="mb-3">{{ form.deadline.label }}: {{ form.deadline(class="form-control") }}</div>
          <div class="mb-3">{{ form.description.label }}: {{ form.description(class="form-control") }}</div>
          <div class="mb-3">{{ form.completed.label }}: {{ form.completed() }}</div>
          <div class="mb-3">{{ form.submit(class="btn btn-success") }}</div>
        </form>

      </div>
    </div>
  </div>
</div>


{% endblock %}
